<% meta(
  title: "#{I18n.t('pages.home.meta.title')}",
  description: "#{I18n.t('pages.home.meta.description')}"
) %>

<div class="relative mt-10">
  <!-- Hero: Start -->
  <section class="relative bg-primary-700">
    <div class="absolute inset-0">
      <div class="absolute inset-y-0 left-0 w-1/2 bg-primary-100"></div>
    </div>

    <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-2">
      <div class="flex items-end px-4 pb-16 bg-primary-100 pt-28 sm:px-6 lg:px-8 lg:pb-24 xl:pr-12">
        <div class="max-w-lg mx-auto lg:mx-0">
          <p class="text-5xl sm:text-6xl lg:text-7xl">🌼</p>
          <h1 class="mt-10 text-3xl text-primary-900 sm:text-4xl lg:text-5xl font-sans">secret gardens in my mind.</h1>
          <p class="mt-6 text-xl sm:text-2xl lg:text-3xl font-serif italic font-normal leading-7 text-primary-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vehicula massa in enim luctus. Rutrum arcu.</p>
          <div class="relative inline-flex mt-10 group">
            <div class="absolute transition-all duration-1000 opacity-70 inset-0 bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg filter group-hover:opacity-100 group-hover:duration-200"></div>

            <%= link_to "Read Exclusive Blog", "#", class: "inline-flex relative items-center justify-center w-full sm:w-auto px-8 py-3 sm:text-sm text-base sm:py-3.5 font-semibold text-primary-50 transition-all duration-200 bg-primary-700 border border-transparent rounded-lg hover:bg-primary-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900", role: "button" %>
          </div>
        </div>
      </div>

      <div class="relative flex items-end px-4 py-16 bg-primary-700 sm:px-6 lg:pb-24 lg:px-8 xl:pl-12">
        <div class="absolute inset-0">
          <img class="opacity-20 object-cover w-full h-full" src="https://landingfoliocom.imgix.net/store/collection/clarity-blog/images/hero/6/grid-pattern.svg" alt="" />
        </div>

        <div class='relative w-full max-w-lg mx-auto lg:max-w-none'>
          <p class="text-lg font-bold text-primary-50">Featured Posts</p>
          <div class="mt-6 space-y-5">
            <div class="overflow-hidden transition-all duration-200 transform bg-primary-50 border border-primary-200 rounded-2xl hover:shadow-lg hover:-translate-y-1">
              <div class="px-4 py-5 sm:p-5">
                <div class="flex items-start lg:items-center">
                  <a href="#" title="" class="shrink-0">
                    <img class="lg:h-24 w-14 h-14 lg:w-24 rounded-xl object-cvoer" src="https://landingfoliocom.imgix.net/store/collection/clarity-blog/images/hero/6/thumbnail-1.png" alt="" />
                  </a>

                  <div class="flex-1 ml-4 lg:ml-6">
                    <p class="text-xs font-medium text-primary-900 lg:text-sm">
                      <a href="#" title="" class=""> Growth </a>
                    </p>
                    <p class="mt-2 text-sm font-bold text-primary-900 lg:text-lg group-hover:text-primary-600">
                      <a href="#" title="" class=""> How a visual artist redefines success in graphic design </a>
                    </p>
                    <p class="mt-2 text-xs font-medium text-primary-500 lg:text-sm">April 09, 2022</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="overflow-hidden transition-all duration-200 transform bg-primary-50 border border-primary-200 rounded-2xl hover:shadow-lg hover:-translate-y-1">
              <div class="px-4 py-5 sm:p-5">
                <div class="flex items-start lg:items-center">
                  <a href="#" title="" class="shrink-0">
                    <img class="lg:h-24 w-14 h-14 lg:w-24 rounded-xl object-cvoer" src="https://landingfoliocom.imgix.net/store/collection/clarity-blog/images/hero/6/thumbnail-2.png" alt="" />
                  </a>

                  <div class="flex-1 ml-4 lg:ml-6">
                    <p class="text-xs font-medium text-primary-900 lg:text-sm">
                    <a href="#" title="" class=""> Growth </a>
                    </p>
                    <p class="mt-2 text-sm font-bold text-primary-900 lg:text-lg group-hover:text-primary-600">
                    <a href="#" title="" class=""> How a visual artist redefines success in graphic design </a>
                    </p>
                    <p class="mt-2 text-xs font-medium text-primary-500 lg:text-sm">April 09, 2022</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="overflow-hidden transition-all duration-200 transform bg-primary-50 border border-primary-200 rounded-2xl hover:shadow-lg hover:-translate-y-1">
              <div class="px-4 py-5 sm:p-5">
                <div class="flex items-start lg:items-center">
                  <a href="#" title="" class="shrink-0">
                    <img class="lg:h-24 w-14 h-14 lg:w-24 rounded-xl object-cvoer" src="https://landingfoliocom.imgix.net/store/collection/clarity-blog/images/hero/6/thumbnail-3.png" alt="" />
                  </a>

                  <div class="flex-1 ml-4 lg:ml-6">
                    <p class="text-xs font-medium text-primary-900 lg:text-sm">
                    <a href="#" title="" class=""> Growth </a>
                    </p>
                    <p class="mt-2 text-sm font-bold text-primary-900 lg:text-lg group-hover:text-primary-600">
                    <a href="#" title="" class=""> How a visual artist redefines success in graphic design </a>
                    </p>
                    <p class="mt-2 text-xs font-medium text-primary-500 lg:text-sm">April 09, 2022</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero: End -->

  <!-- Features: Start -->
  <section class="py-12 sm:py-16 lg:py-20 bg-primary-800">
    <div class="py-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-16 xl:gap-x-32 gap-y-12">
        <div>
          <h2 class="tracking-tighter text-primary-100">
            <span class="font-sans text-4xl md:text-6xl"> Cras in nisi, eget et tempor, </span>
            <span class="font-serif text-5xl italic md:block md:text-7xl"> non tincidunt consectetur </span>
          </h2>
          <p class="mt-8 font-sans text-lg font-normal leading-8 text-opacity-50 text-primary-100">
            Lorem convallis ligula mi tristique vel iaculis ultrices proin. Habitant dignissim volutpat accumsan egestas arcu vulputate. Nulla diam nisl, mi non luctus ut neque. Sit ac elementum, vivamus imperdiet.
          </p>
          <div class="mt-8">
            <a
              href="#"
              title=""
              class="
              inline-flex
              items-center
              justify-center
              px-5
              py-2
              font-sans
              text-base
              font-semibold
              transition-all
              duration-200
              bg-transparent
              border-2
              rounded-full
              sm:leading-8
              text-primary-100
              border-primary
              hover:bg-primary-100
              focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-200
              hover:text-black
              sm:text-lg
              focus:ring-offset-secondary
              "
              role="button"
              >
              <svg class="w-6 h-6 mr-2" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.0416 4.9192C7.37507 4.51928 6.5271 4.99939 6.5271 5.77669L6.5271 18.2232C6.5271 19.0005 7.37507 19.4806 8.0416 19.0807L18.4137 12.8574C19.061 12.469 19.061 11.5308 18.4137 11.1424L8.0416 4.9192Z"></path>
              </svg>
              Watch trailer
            </a>
          </div>
        </div>

        <div>
          <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
            <div class="space-y-5">
              <div class="overflow-hidden transition-all duration-200 border rounded-lg border-primary-200 hover:bg-primary-700">
                <div class="px-4 py-5 sm:p-6 lg:p-8">
                  <svg class="text-primary-50 h-11 w-11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                  </svg>
                  <h3 class="mt-3 font-sans text-2xl font-normal text-primary-50">Slack Community</h3>
                  <p class="mt-4 text-base font-normal text-opacity-50 text-primary-50">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
              </div>

              <div class="overflow-hidden transition-all duration-200 border rounded-lg border-primary-200 hover:bg-primary-700">
                <div class="px-4 py-5 sm:p-6 lg:p-8">
                  <svg class="text-primary-50 h-11 w-11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                  </svg>
                  <h3 class="mt-3 font-sans text-2xl font-normal text-primary-50">Slack Community</h3>
                  <p class="mt-4 text-base font-normal text-opacity-50 text-primary-50">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
              </div>
            </div>
            <div class="space-y-5 sm:mt-20">
              <div class="overflow-hidden transition-all duration-200 border rounded-lg border-primary-200 hover:bg-primary-700">
                <div class="px-4 py-5 sm:p-6 lg:p-8">
                  <svg class="text-primary-50 h-11 w-11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                  </svg>
                  <h3 class="mt-3 font-sans text-2xl font-normal text-primary-50">Slack Community</h3>
                  <p class="mt-4 text-base font-normal text-opacity-50 text-primary-50">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
              </div>

              <div class="overflow-hidden transition-all duration-200 border rounded-lg border-primary-200 hover:bg-primary-700">
                <div class="px-4 py-5 sm:p-6 lg:p-8">
                  <svg class="text-primary-50 h-11 w-11" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                  </svg>
                  <h3 class="mt-3 font-sans text-2xl font-normal text-primary-50">Slack Community</h3>
                  <p class="mt-4 text-base font-normal text-opacity-50 text-primary-50">Non pretium mi, sagittis placerat. Elit risus malesuada ornare orci in. Tellus, tempor eget vitae aliquet suspendisse sed purus velit elit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features: End -->

  <!-- Join CTA: Start -->
  <section class="py-12 bg-primary-100 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-4xl text-primary-900 font-sans">Join 🌼 Secret Gardens community</h2>
        <p class="max-w-md mx-auto mt-5 text-base font-normal text-primary-600 font-sans">With lots of unique blocks, you can easily build a page without coding. Build your nexdt landing page.</p>
      </div>

      <div class="relative max-w-lg mx-auto mt-14">
        <div class="absolute -inset-x-2 -inset-y-5">
          <div class="w-full h-full mx-auto rotate-180 opacity-30 blur-lg filter" style="background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%)"></div>
        </div>

        <form action="#" method="POST" class="relative">
          <input
            type="email"
            name=""
            id=""
            placeholder="Enter your email address"
            class="block w-full px-5 py-6 text-base font-normal text-black placeholder-primary-600 bg-primary-50 border border-primary-300 rounded-xl focus:border-black focus:ring-1 focus:ring-black font-pj focus:outline-none"
            required
          />

          <div class="mt-4 sm:mt-0 sm:absolute sm:inset-y-0 sm:right-0 sm:flex sm:items-center sm:pr-3">
            <button
              type="submit"
              class="
              inline-flex
              items-center
              justify-center
              w-full
              px-8
              py-4
              text-base
              font-bold
              text-primary-50
              transition-all
              duration-200
              bg-primary-700
              border border-transparent
              sm:w-auto sm:py-3
              focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900
              font-pj
              hover:bg-opacity-90
              rounded-xl
              "
              >
              Get started now
            </button>
          </div>
        </form>
      </div>

      <p class="mt-6 text-sm font-normal text-center text-primary-500 font-sans">No ads. No spam. No commitments.</p>
    </div>
  </section>
  <!-- Join CTA: End -->
</div>
