<div class="w-full px-6 pb-8 mt-8 sm:max-w-xl sm:rounded-lg hidden" data-tabs-target="tab" id="billing">
  <h2 class="pl-6 text-2xl font-bold sm:text-xl">Billing</h2>

  <div class="grid max-w-2xl mx-auto mt-8">
    <div class="items-center mt-8 sm:mt-14 text-[#202142]">
      <p>Coming soon</p>
    </div>
  </div>
</div>
